<html>

<head>
	<title>Engineered Professional Service</title>
	 <link href="/stylesheets/homepage.css" rel="stylesheet" type="text/css">

</head>

<div class="headbanner">
	<a class="headbannerbutton" href="">ContactUs</a>
</div>

<div class="navbanner">
	<img id="logo" src="/images/logo2.png">
	<ul class="navbar">
		<li><a class="navbutton" href="/smallerbusiness">/ Small Business /</a></li>
		<li><a class="navbutton" href="/biggerbusiness">Big Business /</a></li>
		<li><a class="navbutton" href="">Professional Service /</a></li>
		<li><a class="navbutton" href="">Sofware Development /</a></li>
	</ul>
</div>

<div id="small-biz">
	
</div>

<div class="piontoolscontent">
	<h2>Pioneering Tools</h2>
	<h3>Cutting edge technologies =&#8593productivity +&#8593business value +&#8595cost	</h3>
	<br>
	<div class="piontoolsboxwrapper">
		<br>
		<p>To prove quality and get desired outcomes, you need the right tools. Have you ever tried to use a regular screwdriver on a Phillips head screw? You will eventually get the job done, but it will take a lot longer, it won't be at all precise, and it will require a lot of unnecessary work.</p>
		<p>New ways of working and next generation business finance solutions, are best complimented by using the right tools.  TooluP, use technlogies that power web powerhouses such as Google, Facebook and Amazon to create your own business success.</p> 
		<p>To combat business cost risk, data inaccuracy, and software inefficiency.   To fight and win against the big data battle of meaningful business information that delivers business insight.  And to service the ever growing demand of customisable software required by business, using powerful and specialised tools is a pre-requisite. </p>
		<p>Those businesses who choose to embrace new and clever technologies are best placed to suceed over the long term.</p>
		<p>See our toolbox for more information, and don't worry, we can of course, and have many times, used most business reporting software.  However if our remit doesn't dictate otherwise, we'll probably write an extactor programme and load it into our tools.</p>
	</div>

</div>

<div class="epscontent">
	<h2>Engineered Professional Service</h2>
	<h3>Execution not objective</h3>
	<br>
	<div class="epsboxwrapper">
		<br>
		<p>The accounting, business and finance world now operates purely through computers and software.  Which is our professionals are all versed in computer programming skillsets.</p>
		<p>New ways of working and next generation business finance solutions demanded next generation skillsets.</p>
		<p>TooluP believes that in 10-20years, children will be leaving school with the programming skillsets we today deem in the industry as professional.  The engineering potential is fabulously exciting.</p>
		<p>But to service this demand today, and to ensure the continued delivery of service in the face of changing business needs, TooluP sent our accountants to BootCamp</p>
		
		<p>This unique blend of professional skillsets, also enables us to leverage to the full extent, the functionality of the Waza professional ecosystem.  We can write and deploy any customisable bolt-on reporting packs in your Waza ecosystem and more.  </p>
		<p>Otherwise, send us your excel or csv files, show us your system and will automate a script to extract your Company trial balance, we'll pivot reams of offline files of information (a parser) and put its analysis in the web.  True engineered professional service.</p>
	</div>

</div>

<div class="howcontent">
	<h2>Insightful Consulting</h2>
	<h3>Your businesses bottom line is more important than ours.  Honest guidance guaranteed.</h3>
	<br>
	<div class="howboxwrapper">
		<br>
		<p>Honest, loyal professional service guaranteed.</p>
		<p>We recommend re-wiring finance first, then evolve your new technologies out into your customer market.</p>
		<p>Extracting 'business' is not our aim.</p>
		<p>Sometimes loyal service means baring hard truths.</p>
		<p>We will recommend you use other professional service providers.  Everything is a resource.</p>
		<p>We don't recommend temporary solutions.</p>
		<p>We mostly likely will recommend everything be programmed :)</p>
		<p>We dislike cost/business wastage, it defies our professional duty.</p>
	</div>

</div>

<div id="footer">
	<div class="aboutus">
		<h2>About ToolUp Professional Service</h2>
		<p>We are a Chartered accountancy professional services firm with our very own software engineering toolbox ready to take on your business challenges.  Our engineers are a community of passionate, purpose-led individuals. We think disruptively to deliver technology to address our clients' toughest challenges, all while seeking to revolutionize the business finance and financial reporting industry and create positive social change.</p>
		<div class="aboutusrightbox">
			<h2 style="font-size:100%;">Why we Programme</h2>
			<p style="font-size:60%;">Before the journey began we could not define simply why.  But the computer science enlightenment gave to us the word Kaizen:</p>
			<p style="font-size:40%;">... "a Japanese philosophy of the continuous improvement of working practices, and professional efficiency" </p>
			<p style="font-size:60%;">In order to keep up with the shifting economy and avoid being overtaken by new companies, business leaders need to get their 21st-Century thinking caps on. However, radically changing how we think, and changing how we operate our businesses, is easier said than done – we are, after all, creatures of habit.</p>
			<p style="font-size:60%;">And as accountants, with a professional duty to best serve our client businesses, our Kaizen mindset naturally lead us to take on the software engineering challenge... All in the hope to not only inspire business leaders to rewire company processes to leverage the true power of software and new technologies for your business and financial information, but more importantly, be able to offer structured professional solutions to support this transition.</p>
		</div>
	</div>
	<div class="footerbottom">
		<ul class="navfoot">
			<li><a class="navfooterbutton" href="">/ Small Business /</a></li>
			<li><a class="navfooterbutton" href="">Big Business /</a></li>
			<li><a class="navfooterbutton" href="">Professional Service /</a></li>
			<li><a class="navfooterbutton" href="">Sofware Development /</a></li>
		</ul>
		<p>&copy | TooluP Business Advisors and Chartered Accountants | Monea, Fermanagh |</p>
	<div>
</div>

</html>